
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Mi pagina web MORAT</title>
</head>
<body>
    <nav>
        <p class="logo-danicodex">MORAT</p>
        <ul class="cont-ul">

          <li class="develop">
            Ropa
            <ul class="ul-second">
              <li class="back" routerLink="/playeras">Playeras</li>
              <li class="front">
                  Pantalones

              </li>
            </ul>
            <li class="develop">
              Accesorios
              <ul class="ul-second">
                <li class="back">Gorras</li>
                <li class="front">
                    Albums

                </li>

            </ul>
            </li>
            <li class="develop">
                login
                <ul class="ul-second">
                  <li class="back"routerLink="/login">Iniciar SESION</li>
                  <li class="front"routerLink="/registro">
                      Registrarse
  
                  </li>
  
              </ul>
              </li>
            <li class="develop">
                Acerca de nosotros

            </li>
           
            <li>Conatctanos</li>
        </ul>
    </nav>
</body>

