<app-header></app-header>

<div class="container">

    <div class="container container-md-fluid">
      <div class="row ">
          <div class="col-auto col-md-10  ">
              <nav aria-label="breadcrumb " class="first   d-md-flex bg-violet" >
                  <ol class="breadcrumb indigo lighten-6 first-1 shadow-lg mb-5  ">
                      <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >HOME</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/100/000000/double-right.png" width="20" height="20"> </li>
                      <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/crearc"><span >LOGIN</span></a><img class="ml-md-3" src="https://img.icons8.com/offices/100/000000/double-right.png" width="20" height="20"></li>
                      <li class="breadcrumb-item font-weight-bold mr-0 pr-0"><a class="black-text active-1" routerLink="/iniciar-sesion"><span >CREAR CUENTA</span></a> </li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  
    
    <div class="signupFrm">
      <form (ngSubmit)="onSubmit()" [formGroup]="logintForm"class="form">
   
        <h1 class="title"align="center">REGISTRARSE</h1>
   <div class="inputContainer">
          <input type="text" class="input"id="name" name="name"placeholder="a"required formControlName="name">
          <label for="" class="label">NOMBRE</label>
          <div 
         
          class="alert alert-danger"*ngIf="camponovalido('name')">{{nombreError}}</div>
     
        
    
    </div>
   
        <!-- <div class="inputContainer">
          <input type="text" class="input" id="appate" name="appate"placeholder="a"required formControlName="appate">
          <label for="" class="label">Apellido Paterno</label>
          <div 
          class="alert alert-danger"*ngIf="camponovalido('appate')">{{pater}}</div>
       
      
         </div>
       -->
  
  
       
        <!-- <div class="inputContainer">
          <input type="text" class="input" id="apmate" name="apmate" placeholder="a" required formControlName="apmate">
          <label for="" class="label">Apellido Materno</label>
          <div 
          class="alert alert-danger"*ngIf="camponovalido('apmate')">{{mater}}</div>
        </div>
    
      
        
        <div class="inputContainer">
          <input type="text" class="input" id="nameuser" name="nameuser"  placeholder="a" required formControlName="nameuser">
          <label for="" class="label">NOMBRE DE USUARIO</label>
          <div 
          class="alert alert-danger"*ngIf="camponovalido('nameuser')">{{usererror}}</div>
        </div> -->
  
  
        <div class="inputContainer">
          <input type="email" class="input" id="email" name="email"  placeholder="a" required formControlName="email">
          <label for="" class="label">CORREO</label>
        
          <div 
          class="alert alert-danger"*ngIf="camponovalido('email')">{{emailError}}</div>
        
        </div>
        
        <!-- <div class="inputContainer">
          <input type="number" class="input"id="edad" name="edad"  placeholder="a" required formControlName="edad">
          <label for="" class="label">EDAD</label>
          <div 
          class="alert alert-danger"*ngIf="camponovalido('edad')">{{edaderror}}</div>
          
          
      
         
     
        </div>
    -->
        <div class="inputContainer">
          <input type="password" class="input"id="password" name="password"  placeholder="a" required formControlName="password">
          <label for="" class="label">CONTRASEÑA</label>
          <div 
          class="alert alert-danger"*ngIf="camponovalido('password')">Ingrese una contraseña.</div>
  
         
        </div>
  
        <div class="inputContainer">
          <input type="password" class="input"id="pass2" name="pass2"  placeholder="a" required formControlName="pass2">
          <label for="" class="label">CONFIRMAR CONTRASEÑA</label>
          <div    
          class="alert alert-danger"*ngIf="camposiguales()">Las contraseñas no coinciden.</div>
  
        
  
        </div>
        
      
      
  
        <div align="right">
        <button type="submit" class="btn btn-success">REGISTRARSE</button>
        
        </div>
      
      </form>
    </div>
</div>
    
    <app-footer></app-footer>